.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  padding: 30px;
  border-right: 1px solid var(--separator-color);
  display: flex;
  flex-direction: column;
}

.exit {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.content {
  padding: 40px 60px;
  width: 100%;
}
